body{
	background: #c0c0c0;
	color: #000080
}
table{
	width: 100%;
	border-collapse: collapse;
}
td {
	border: 1px double black;
	text-align: center
}
a {
	color: green;
}
#navi {
	color: red;
}
h1,h2 {
	color: yellow;
}
p:first-letter {
    color: white;
}